<!DOCTYPE html>
<html lang="pt-BR">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>{{ config.0 }} — {{ config.1 }}</title>
    <link rel="icon" href="https://pulvissolaris.files.wordpress.com/2021/01/cropped-triskelion.png" />

    <!--BOOTSTRAP n' JQUERY-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--JS-->
    <script type="module" src="{% static 'js/index/main.js' %}"></script>

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/main/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
</head>

<body>
    <div id="title-site" class="container">
        <br>
        <div id="banner" class="row">
            <div class="col-sm-2">
                <img height="130px" src="https://pulvissolaris.files.wordpress.com/2021/01/cropped-triskelion.png">
            </div>
            <div class="col-sm-10">
                <h1 style="color: #87ad93">
                    {{ config.0 }}<br>
                    <small>{{ config.1 }}</small>
                </h1>
            </div>
        </div>
    </div>

    <nav id="navbar" class="navbar">
        <div id="nav-container" class="container">

            <ul class="nav navbar-nav">
                <li class="nav-item active text-center"><a href="/"><strong>Home</strong></a></li>
                <li class="nav-item submenu-hover text-center">
                    <a href="/posts">
                        <strong>Posts</strong>
                        <span class="caret"></span>
                    </a>
                    <div class="submenu">
                        <button id="1" class="item"><strong>Category 1</strong></button>
                        <button id="2" class="item"><strong>Category 2</strong></button>
                        <button id="3" class="item"><strong>Category 3</strong></button>
                    </div>
                </li>
                <li class="nav-item text-center"><a href="/gallery"><strong>Traduções</strong></a></li>
                <li class="nav-item text-center"><a href="/about"><strong>Sobre</strong></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="go-top" class="text-right">
                    <a id="scrolltop">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div id="left-content" class="col-lg-9">
                <h2>Pagina Inicial</h2>
                <br>
                <div class="index-main jumbotron apresentation"
                    style="background-image: url('{% if apresentacao %} {{ apresentacao.2.url }} {% else %} images/romantic.jpg {% endif %}');">
                    <h1 style="font-size: 40px; color: white" class="apresentation-title">
                        {% if apresentacao %}
                        {{ apresentacao.0 }}
                        {% else %}
                        [Título da Apresentação]
                        {% endif %}
                    </h1>
                    <p style="font-size: 16px" class="apresentation-text">
                        {% if apresentacao %}
                        {{ apresentacao.1 }}
                        {% else %}
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac nunc quis eros aliquet posuere
                        eget
                        vel enim. Morbi nec sem massa. Aliquam eget ante malesuada, elementum magna vitae, ornare metus.
                        Ut
                        congue aliquam sagittis. Suspendisse dignissim metus felis, sit amet vestibulum tellus placerat
                        vitae.
                        Maecenas vitae mi a diam porta fermentum. Morbi vel hendrerit velit. Quisque mattis nunc dui,
                        convallis
                        pharetra diam tristique tristique. Etiam ut lectus rutrum, vehicula massa et, sodales velit.
                        Quisque
                        ac ornare lorem. Nullam posuere nec neque id bibendum. Mauris ac imperdiet felis. Vivamus
                        tincidunt
                        sollicitudin metus id eleifend. Vestibulum nec felis commodo, tincidunt eros ac, suscipit orci.
                        Praesent
                        mollis lacus et nunc egestas varius. Morbi quis metus ultrices, varius ex quis, eleifend felis."
                        {% endif %}
                    </p>
                    <center>
                        <button class="apresentation-button">Saiba Mais</button>
                    </center>
                    <br>
                </div>

                {% if posts %}
                <h2>Últimas Postagens</h2>
                <br>
                {% endif %}
                {% for id, title, text, image, date, author in posts %}
                <div id="{{ id }}" class="row post">
                    <div class="col-sm-3">
                        <div id="{{ id }}-icon" style="background-image: url('{{ image.url }}');" class="icon-post">
                        </div>
                    </div>
                    <div class="col-sm-9 content-post insert-br-xs">
                        <div class="data-post">{{ date|date:'d/m/y' }}</div>
                        <h2 id="{{ id }}-title" class="title-post">{{ title }}</h2>
                        <div id="{{ id }}-text" class="text-post">
                            {{ text }}
                        </div>
                        <div class="author-post">
                            Autor: {{ author }}
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}

                {% if livros %}
                <h2 style="margin-top: 10px">Últimos Livros</h2>
                <br>
                {% endif %}
                <div class="row">
                    {% for id, title, author, banner, descricao in livros %}
                    <div class="col-sm-4">
                        <div id="{{ id }}" class="thumbnail livro">
                            <div id="{{ id }}-livro-icon"
                                style="background-image: url('{{ banner.url }}');"
                                class="icon-livro"></div>
                            <div class="caption">
                                <h4 id="{{ id }}-livro-title" class="title-livro">Livro: <small>{{ title }}</small></h4>
                                <h4 id="{{ id }}-livro-autor" class="title-livro">Autor: <small>{{ author }}</small></h4>
                                <p id="{{ id }}-livro-text" class="text-livro">
                                    {{ descricao }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="right-content" class="insert-br-md col-lg-3">
                <div class="container-fluid index-widgets">
                    <input id="search-input" type="text" class="text-center" placeholder="Pesquisar..." name="q">
                </div>
                <br>

                {% if archive %}
                <div class="container-fluid index-widgets">
                    <h4 class="text-center">Arquivos</h4>
                    <br>
                    <ul style="margin-top: -10px;">
                        {% for year, data in archive.items %}
                        <li><a href="posts/{{ year }}/">{{ year }} <span class="badge">{{ data.0 }}</span></a><br>
                            <ul style="margin-top: 5px;">
                                {% for month, info in data.1.items %}
                                <li style="padding: 2px;">
                                    <a href="posts/{{ year }}/{{ month }}/">{{ info.0 }} <span class="badge">{{ info.1
                                            }}</span></a>
                                    <br>
                                </li>
                                {% endfor %}
                            </ul>
                        </li><br>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    <br>
    <div class="container-fluid footer">
        <p>© {{ config.0 }}, {{ config.2 }}. Feito por {{ config.3 }}.</p>
    </div>

</body>

</html>